@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    display: block;
    max-width: 100px;
    text-align: center;
    color: brown;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}